@import '../utils/utils.scss';

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: $header-background;

  @include tablets {
    height: 200px;
  }

  &__photo {
    margin-top: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid $header-background;

    @include tablets {
      width: 200px;
      height: 200px;
    }
  }
}